<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <div class="checkbox">
          <input type="checkbox" id="headCheckbox" name="headCheckbox" #headCheckbox style="vertical-align: middle" (click)="handleHeadCheckboxs($event)" />
        </div>
      </th>
      <th>计划名称</th>
      <th>验收标准</th>
      <th>计划资源投入</th>
      <th>实际资源投入</th>
      <th>计划完成百分比</th>
      <th>实际完成百分比</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let id of result">
      <td>
        <div class="checkbox">
          <input appCheckboxdirective [setId]="id"
           type="checkbox" class="childcheckbox" [attr.id]="id"  [attr.name]="id" style="vertical-align: middle" (click)="handleItemCheckbox(id)" />
        </div>
      </td>
      <td>{{ weekplans?.get('weekplans').get(id)?.taskName }}</td>
      <td>{{ weekplans?.get('weekplans').get(id)?.acceptanceCriteria }}</td>
      <td>{{ weekplans?.get('weekplans').get(id)?.planResourcePercent }}</td>
      <td>{{ weekplans?.get('weekplans').get(id)?.resourcePercent }}</td>
      <td>{{ weekplans?.get('weekplans').get(id)?.planPercentComplete }}</td>
      <td>{{ weekplans?.get('weekplans').get(id)?.percentComplete }}</td>
    </tr>
  </tbody>
</table>